# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/
.env/

# PyCharm Files
.idea/
*.iml

# Logs
*.log
main.txt

# System Files
.DS_Store
Thumbs.db

# Sensitive data or local CSV
grades.csv
